/* Global Styles */
body {
    background-image: url("domenico-loia-hGV2TfOh0ns-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 5px;
  }
  
   .container ul li {
    list-style: none;
   }
  
  /* Header Styles */
  header {
    background-color: #333;
    color: #fff;
    padding: 2px ;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
 /* nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
  }*/
  
  /* Section Styles */
  section {
    padding-top: 20px;
    padding-bottom: 10px;
    
  }
  #resume {
    text-decoration: none;
  }
  /* Footer Styles */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  